:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*{
}

body {    
    width: 100%;
    font-family: 'public sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white);
    font-size: 18px;
}

header {
    font-family: 'public sans';
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin: 0;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

ul li a{
    text-decoration: none;
    color: var(--grayish-blue);
    font-weight: 300;
    padding: 15px 0;
    position: relative;
}

ul li a:hover{
    color: var(--dark-blue);
}

ul li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    color: var(--dark-blue);
    background: linear-gradient(45deg, var(--lime-green), var(--bright-cyan));
}


button{
    background-image: linear-gradient(45deg, var(--lime-green), var(--bright-cyan));
    color: var(--white);
    border: none;
    padding: 10px 30px;
    border-radius: 40px;
    font-weight: 700;
    /* box-shadow: 0 5px 10px; */
    transition: background-color 0.5s ease;
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(45deg, var(--bright-cyan), var(--lime-green));
}


/* hero page section */
.hero-page{
    display: flex;
    justify-content: space-between;
    background-color: var(--very-light-gray);
}

.hero-image-holder{
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.hero-image-holder img{
    /* width: 100%;  */
    /* padding-right: -100px; */
}

.hero-text{
    font-family: 'public sans';
    text-decoration: none;
    padding-left: 10%;
    align-content: center;
    width: 30%;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 500;
    color: var(--dark-blue);
}

p{
    font-size: 22px;
    color: var(--grayish-blue);
    font-weight: 300;
    margin: 40px 0;
}

/* next section */
.next-sec{
    font-family: 'public sans';
    padding: 40px 150px 50px;
    background-color: var(--light-grayish-blue);
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}
.next-sec-text h2, .article-section h2{
    font-size: 50px;
    color: var(--dark-blue);
    font-weight: 500;
}

.card h3{
    font-size: 25px;
    color: var(--dark-blue);
    font-weight: 300;
}

/* Article section */

.article-section{
    padding: 100px 150px;
    background-color: var(--very-light-gray);
}
.article-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    gap: 25px;
}
.a-card{
    /* gap: 20px; */
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--white);

}

.a-card img{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.a-card p{
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--grayish-blue);
    padding: 20px 25px;
}

.a-card h4{
    margin: 0;
    font-size: 20px;
    color: var(--dark-blue);
    font-weight: 400;
    padding: 25px;
}

.a-card h4:hover{
    color: var(--lime-green);
    cursor: pointer;
    transition: 0.2s ease;
}

/* footer section */

footer{
    background-color: var(--dark-blue);
    padding: 50px 150px;
}

footer img{
    margin: 20px;
    color: var(--white);
}

.logo-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-icons img {
    margin: 0 10px;
}

.media-icons img:hover{    
    cursor: pointer;
    color: var(--lime-green);
    transition: 0.2s ease;
}

.footer-navs ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 40px;    
}

.footer-navs ul li a{
    color: var(--white);
}

.footer-navs ul li a:hover{
    border: none;
}

.footer-cta{
    font-family: 'public sans';
    justify-content: center;
    align-items: center;

}

.footer-cta button{
    margin: 20px 0;
}

.at-copy{
    font-size: 15px;
    color: var(--grayish-blue);
}